<h1 mat-dialog-title>Add user</h1>
<div mat-dialog-content>

  <form class="user-form">
    <table class="full-width" cellspacing="0">
      <tr>
        <td class="pd-16"><mat-form-field class="full-width">
            <mat-label>First name</mat-label>
            <input [(ngModel)]="user.firstName" matInput name="firstName">
          </mat-form-field></td>
        <td><mat-form-field class="full-width">
            <mat-label>Last name</mat-label>
            <input [(ngModel)]="user.lastName" matInput name="lastName">
          </mat-form-field></td>
      </tr>
    </table>

    <mat-form-field class="full-width">
      <mat-label>Date of birth</mat-label>
      <input [(ngModel)]="dateOfBirth" matInput [matDatepicker]="picker" name="dateOfBirth">
      <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Address + House No.</mat-label>
      <input [(ngModel)]="user.address" matInput placeholder="Mustergasse 123" name="address">
    </mat-form-field>

    <table class="full-width" cellspacing="0">
      <tr>
        <td class="pd-16"><mat-form-field class="full-width">
          <mat-label>Postal code</mat-label>
          <input [(ngModel)]="user.postalCode" matInput #postalCode maxlength="4" placeholder="1010" name="postalCode">
          <!-- <mat-hint align="end">{{postalCode.value.length}} / 4</mat-hint> -->
        </mat-form-field></td>
        <td><mat-form-field class="full-width">
            <mat-label>City</mat-label>
            <input [(ngModel)]="user.city" matInput placeholder="Vienna" name="city">
          </mat-form-field></td>
      </tr>
    </table>

    <table class="full-width" cellspacing="0">
      <tr>
        <td><mat-form-field class="full-width">
            <mat-label>Country</mat-label>
            <input [(ngModel)]="user.country" matInput placeholder="Austria" name="country">
          </mat-form-field></td>
      </tr>
    </table>
  </form>
</div>

<div class="button-container" mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial (click)="saveUser()">Save</button>
</div>