.user-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }

  .pd-16{
    padding-right: 16px;
  }

  .button-container{
    padding: 0 24px 9px;
  }
  