.priority-hl{
    padding:5px;
    border-radius: 10px;
    color: white
}

.green{
    @extend .priority-hl;
    background-color: #61D271;
}

.orange{
    @extend .priority-hl;
    background-color: #FD612C;
}

.red{
    @extend .priority-hl;
    background-color: #E8384F;
}

.yellow{
    @extend .priority-hl;
    background-color: #FD9A00;
}


.add-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}
