<div class="wrapper">
    <mat-card class="card">
        <div>
            <img class="logo-container" src="assets/img/big-logo-white.png" alt="">
        </div>
        <mat-card-header>
            <mat-card-title>VERIFY</mat-card-title>
            <mat-card-subtitle class="font-white">YOUR E-MAIL ADDRESS</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                An e-mail has been sent to you! <br> Please click on the link to verify it!
            </p>
            <a class="link-styling" href="/login">
                <button href mat-raised-button type="submit" color="primary">Login</button>
            </a>
        </mat-card-content>
    </mat-card>
</div>
