<div class="wrapper">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Verify e-mail</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                An e-mail has been sent to you! <br> Please click on the link to verify it!
            </p>
            <a class="link-styling" href="/login">
                <button href mat-raised-button type="submit" color="primary">Login</button>
            </a>
        </mat-card-content>
    </mat-card>
</div>
