* {
    box-sizing: border-box;
}

.mat-drawer-container {
    height: 100vh;
    background: #f5f5f5;
}

.mat-menu {
    cursor: pointer;
    margin-right: 16px;
}

.mat-drawer {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.sidenav {
    height: 100%;
    width: 250px;
    border-right: none;
    background-color: #f5f5f5;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 64px;
    padding: 16px;

    img {
        height: 48px;
    }
}

.menu-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85vh;

    .menu-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        display: flex;
        align-items: center;
        color: white;
        min-height: 64px;
        width: 95%;
        padding: 10px;
        font-weight: 500;
        color: white;
        cursor: pointer;

        mat-icon {
            margin-right: 16px;
        }

        &:hover {
            background-color: #f5f5f5;
            border-radius: 15px;
            color: #3f51b5;
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    color: #3f51b5;
}

.router-container {
    padding: 0px 57px 0px 57px;
}

.hide-drawer {
    display: none !important;
}

.bg-purple {
    background: rgb(120, 135, 221);
    background: linear-gradient(0deg, rgba(120, 135, 221, 0.6728816526610644) 0%, rgba(63, 81, 181, 1) 100%);
}