*{
    box-sizing: border-box;
}

.mat-drawer-container{
    height: 100vh;
}

.mat-menu{
    cursor: pointer;
    margin-right: 16px;
}

.sidenav{
    width: 300px;
}

.logo-container{
    display: flex;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 16px;

    img{
        height: 48px;
    }
}

.menu-items{
    list-style-type: none;
    margin: 0;
    padding: 0;

    li{
        min-height: 64px;
        display: flex;
        align-items: center;
        padding-left: 16px;
        cursor: pointer;

        mat-icon{
            margin-right: 16px;
        }

        &:hover{
            background-color: rgba(0,0,0,.12);
        }
    }
}

.router-container{
    padding-top: 16px;
    padding-left: 57px;
    padding-right: 57px;
}

