<mat-card class="user-detail-header">
  <button [matMenuTriggerFor]="userMenu" mat-icon-button class="edit-btn">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="editUserDetail()">Edit user</button>
    <button mat-menu-item (click)="deleteUser()">Delete user</button>
  </mat-menu>

  <div class="user-deatails-container">
    <img src="assets/img/user-circle.png" alt="profil-picture">
    <div class="user-details">
      <h2> {{ user.firstName }} {{ user.lastName }}</h2>
      <div class="align-center">
        <mat-icon>mail</mat-icon> 
        <div>{{ user.eMail }}</div>
      </div>
      <div class="align-center">
        <mat-icon>call</mat-icon> 
        <div>{{ user.phoneNumber }}</div>
      </div>
      <div class="align-center">
        <mat-icon>cake</mat-icon> 
        <div>{{ dateOfBirth }}</div>
      </div>
    </div>
  </div>
</mat-card>

<mat-card class="mt-32">
  <button [matMenuTriggerFor]="addressMenu" mat-icon-button color="primary" class="edit-btn">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item (click)="editAddressDetail()">Edit address</button>
  </mat-menu>

  <mat-card-header>
    <mat-card-title> Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ user.address}} <br>
    {{ user.postalCode }}, {{ user.city }} <br>
    {{ user.country }}
  </mat-card-content>
</mat-card>


<!-- Adds orders in a user -->
<mat-card class="mt-32">
  <mat-card-header>
    <mat-card-title> Orders</mat-card-title>
  </mat-card-header>

  <table class="order-table">
    <tr>
      <th *ngIf="allOrders.length != 0">Qty</th>
      <th *ngIf="allOrders.length != 0">Item</th>
      <th *ngIf="allOrders.length != 0" class="aligned-right">Price</th>
      <th *ngIf="allOrders.length != 0" class="aligned-right">Total</th>
      <th *ngIf="allOrders.length != 0">Action</th>
    </tr>
    <tr *ngFor="let order of allOrders; let i = index">
      <td> {{ user.orders[i].amount }} </td>
      <td> {{ user.orders[i].item }} </td>
      <td class="aligned-right"> {{ user.orders[i].price }} € </td>
      <td class="aligned-right"> {{ user.orders[i].amount * user.orders[i].price}} €</td> 
      <td> 
        <button (click)="openDialogEditOrder(i)" mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="deleteOrder(i)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>

  <div class="add-order-btn">
    <button mat-mini-fab (click)="openDialogAddOrder()" color="primary">
      <mat-icon>add</mat-icon>
    </button>

  </div>
</mat-card>

<!-- Adds notes in a user -->
<mat-card class="mt-32">
  <mat-card-header>
    <mat-card-title> Notes</mat-card-title>
  </mat-card-header>

  <table class="notes-table">
    <tr>
      <th></th>
      <th *ngIf="notesList.length != 0">Action</th>
    </tr>
    <tr *ngFor="let note of notesList; let i =index">
      <td> {{ note }} </td>
      <td>
        <button (click)="deleteNote(i)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>

  <mat-form-field>
    <textarea matInput [(ngModel)]="newNote" placeholder="Take notes..."></textarea>
  </mat-form-field>
</mat-card>

<button class="mt-16" mat-raised-button color="accent" (click)="addNote()">Submit</button>