/* USER DETAIL*/
.user-detail-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    min-height: 250px;
    background-color: #FF4786;
    color: white;
    padding: 16px;
}

.user-deatails-container {
    display: flex;
    align-items: center;

    img {
        height: 80px;
        width: auto;
        object-fit: cover;
    }
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100px;
    justify-content: center;
    margin-left: 16px;

    h2 {
        margin: 0;
    }

    mat-icon {
        margin-right: 8px;
    }
}

.edit-btn {
    position: absolute;
    top: 0;
    right: 0;
}


/* NOTES*/
.notes-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    th {
        text-align: end;
        color: rgba(0, 0, 0, 0.4);
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        font-weight: 500;
        padding-right: 21px;
    }

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        border-top: 1px solid rgba(0, 0, 0, 0.4);

        &:first-child {
            border-top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    td {
        height: 48px;
        word-break: break-word;

        &:first-child {
            padding-left: 16px;
        }

        &:last-child {
            padding-right: 16px;
            text-align: end;
        }
    }
}

/* ORDERS */
.mat-card {
    padding-top: 16px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    th {
        text-align: start;
        color: rgba(0, 0, 0, 0.4);
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        font-weight: 500;

        &:first-child {
            padding-left: 16px;
        }

        &:last-child {
            padding-right: 16px;
            text-align: center;
        }
    }

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);

        &:last-child {
            border-bottom: 0;
        }
    }

    td {
        height: 48px;
        word-break: break-word;

        &:first-child {
            padding-left: 16px;
        }

        &:last-child {
            padding-right: 16px;
            text-align: center;
        }
    }

    .aligned-right {
        text-align: end;
    }

    .center-text {
        text-align: center;
    }
}

.add-order-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 12px;
    margin-bottom: 12px;
}