.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    background: white !important;
}

.add-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.mat-card {
    padding-top: 16px;
}


@media screen and (max-width: 425px) {
    .table-styling td:last-of-type, th:last-of-type {
        display: none;
    }

    .add-btn {
        right: 20px;
        bottom: 20px;
    }
}
