<mat-form-field appearance="outline" class="full-width">
  <input  matInput placeholder="Search..."[(ngModel)]="searchQuery" (input)="filterData()">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<mat-card>
  <!-- <mat-card-content>Simple card</mat-card-content> -->
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Phone</th>
      <th>City</th>
    </tr>
    <tr *ngFor="let item of filteredUsers" [routerLink]="['/user/' + item.id]">
      <td> {{ item.firstName }} {{item.lastName}}</td>
      <td>{{ item.eMail }}</td>
      <td>{{ item.phoneNumber }}</td>
      <td>{{ item.city }}</td>
    </tr>

  </table>
</mat-card>

<button mat-fab (click)="openDialogAddUser()" color="primary" matTooltip="Add user" matTooltipPosition="above"
  class="add-user-btn">
  <mat-icon>add</mat-icon>
</button>