<div class="card-wrapper">


<div class="card-container">
    <mat-card class="big-card">
        Tasks
    </mat-card>

    <mat-card class="small-card">
        Grafik Land Customer
    </mat-card>
</div>

<div class="card-container">
    <mat-card class="small-card">
        Grafik Umsatz
    </mat-card>

    <mat-card class="big-card">
        Notes
    </mat-card>
</div>

<div class="card-container highlight-bg">
        <mat-card class="big-card demo-inline-calendar-card">
            <mat-calendar [(selected)]="selected"></mat-calendar>
          </mat-card>

    <mat-card class="small-card">
        News
    </mat-card>
</div>

</div>