<div class="wrapper">
    <mat-card class="forgot-pw-card">
        <mat-card-header>
            <mat-card-title>Forgot password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="forgot-pw-form" [formGroup]="forgotPwForm" (ngSubmit)="forgotPassword()">
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" formControlName="email" matInput [errorStateMatcher]="matcher"
                        placeholder="max.mustermann@gmail.com">
                    <mat-error
                        *ngIf="forgotPwForm.get('email').hasError('email') && !forgotPwForm.get('email').hasError('required')">
                        Please enter a valid email address!
                    </mat-error>
                    <mat-error *ngIf="forgotPwForm.get('email').hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <div class="button-container" mat-dialog-actions>
                    <button mat-raised-button type="submit" color="primary">Send link</button>
                </div>
                <div>
                    <div>
                        <a href="/login">Back to login</a> 
                    </div>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
