html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

*{
    box-sizing: border-box;
}

.m-0{
    margin: 0;
}

.mt-32 {
    margin-top: 32px;
}

.pd-16 {
    padding-right: 16px;
}

.mat-mdc-card-header{
    padding: 16px !important;
}

//Sidenav
.mat-drawer-inner-container {
    width: 95% !important;
    height: 98% !important;
    background-color: #3f51b5;
    border-radius: 15px;
}

//Query-Field at User.compontent
.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    background: white !important;
}

.user-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.button-container {
    padding: 0 24px 20px !important;
}




