html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

.m-0 {
    margin: 0;
}

.mt-16{
    margin-top: 16px;
}

.mt-32 {
    margin-top: 32px;
}

.pd-16 {
    padding-right: 16px;
}

.mat-mdc-card-header {
    padding: 16px !important;
}

.align-center {
    display: flex;
    align-items: center;
}

.font-white{
    color: white;
}

.word-break{
    word-break: break-word;
}


//Sidenav
.mat-drawer-inner-container {
    width: 95% !important;
    height: 98% !important;
    background-color: #3f51b5;
    border-radius: 15px;
}

.dialog-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.button-container {
    padding: 0 24px 20px !important;
}

.bg-white {
    background-color: white !important;
}

//Error-Message
.err-msg{
    border: 2px solid red;
    background: white;
    color: red;
    margin-right: 16px;
    margin-left: 16px;
    border-radius: 10px;
}


//TABLE-STYLING
.table-styling {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    th {
        text-align: start;
        color: rgba(0, 0, 0, 0.4);
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        font-weight: 500;

        &:first-child {
            padding-left: 16px;
        }

        &:last-child {
            padding-right: 16px;
        }
    }

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, .12);
        }
    }

    td {
        height: 48px;
        word-wrap: break-word;

        &:first-child {
            padding-left: 16px;
        }

        &:last-child {
            padding-right: 16px;
        }
    }
}

//Login/Register,Verify,Forgot-password STYLING
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    mat-card-header {
        justify-content: center;
        color: white;
    }

    .card {
        width: 300px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
    }
}

.link-styling {
    font-weight: 500;
    text-decoration: none;
    color: white;
}

mat-error {
    color: white !important;
}


//SCROLLBAR
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


